<h1>Author: {{question.author}}</h1>
<h2>{{question.question}}</h2>

<button {{action 'delete' question}}>Delete</button>

<h3>Responses</h3>
<ul>
  {{#each question.response as |response|}}
    {{response-tile response=response}}
  {{/each}}
</ul>
