<li class="{{question.category}} questions col-md-6">
  {{#link-to 'question' question.id}}
    <span class='question-author'>Author: {{question.author}}</span>
    <span class='question-question'>Question:{{question.question}}</span>
  {{/link-to}}
</li>
