<header class="container">
  <h1>{{wecode-logo}}</h1>
  <nav>
    <div class="nav-links">
      {{#link-to 'html'}}html{{/link-to}}
    </div>
    <div class="nav-links">
      {{#link-to 'css'}}css{{/link-to}}
    </div>
    <div class="nav-links">
      {{#link-to 'js'}}js{{/link-to}}
    </div>
    <div class="nav-links">
      {{#link-to 'java'}}java{{/link-to}}
    </div>
    <div class="nav-links">
      {{#link-to 'php'}}php{{/link-to}}
    </div>
  </nav>
</header>
<main class="container">
  {{outlet}}
</main>
<footer class="container">
  <h1>{{wecode-logo}}</h1>
  <ul>
    <li><h2>Author: <a href='https://github.com/bitgrind/weCode' target='_blank'>@Bitgrind</a></h2></li>
    <li><h2><a href='https://www.epicodus.com/' target='_blank'>Platform</a></h2></li>
  </ul>
</footer>
