<h1>Welcome to WeCode Questions</h1>

<ul id="question-list">
  {{#each model.question as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}

{{page-js}}
