<h1>Question Detail</h1>


{{update-question question=model update="update"}}

{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{new-response saveResponse="saveResponse" response=model}}
