<h1>Question Detail</h1>

{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="update"}}

{{new-response saveResponse="saveResponse" question=model}}
